html, body {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none !important;
}

#file-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  border-bottom: 1px solid hsl(0deg, 0, 85%);

  .file-item {
    display: block;
    margin: 0;
    padding: 0.33em 0.8em;

    border-bottom: 1px solid hsl(0deg, 0, 92%);
    &:last-child {
      border-bottom: none;
    }
  }

  .file-item-metadata {
    display: block;
    width: 100%;
    white-space: nowrap;
    font-size: 16px;

    .file-name {
      display: inline-block;
      text-align: left;

      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .file-size {
      display: inline-block;
      margin-left: 1em;
      text-align: right;
      white-space: nowrap;
    }
  }
  .file-item-source {
    display: block;
    width: 100%;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .file-item-link {
      text-decoration: none;
      color: hsl(218, 85%, 43%);
      &:visited, &:active {
        color: hsl(218, 40%, 43%);
      }
    }
  }

  .file-item-progress {
    display: block;
    .file-down-progress, .file-up-progress {
      display: block;
      margin: 0.33em 0;
      width: 100%;
    }
  }

  .file-actions {
    display: block;
  }
}

#dropbox-info {
  margin: 0;
  padding: 0.5em 0 0.2em 0;
}
#dropbox-signout-form {
  text-align: center;
}
#dropbox-identity {
  font-size: 11px;
  white-space: nowrap;
  text-align: center;
}
